{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "overrides": [
      {
        "files": ["*.html"],
        "options": {
          "parser": "html",
          "tabWidth": 4
        }
      }
    ]
  }
  